[data-component='tree'] {
  width: 99%;
  height: 75%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  & > * {
    box-sizing: border-box;
  }
  & .controls {
    padding: 1em;
  }
  & .slider {
    & > input {
      display: block;
      width: 100%;
    }
  }
  & canvas {
    border: 1px solid violet;
  }
  & .debug {
    padding: 1em;
    & span {
      display: block;
      color: white;
    }
  }
}
